[package]
name = "mm_map_tools"
version = "0.1.0"
authors = ["kolen <incredible.angst@gmail.com>"]
default-run = "viewer"
edition = "2018"

[lib]
name = "mm_map_tools"

[dependencies]
nom = "5.1.0"
image = "0.23.1"
nalgebra = "0.19"
glib = "*"

[dependencies.gtk]
version = "0.8.1"
features = ["v3_16"]

[dependencies.gio]
version = ""
features = ["v2_44"]

[dependencies.gdk-pixbuf]
version = ""
features = ["v2_32"]

[profile.dev]
opt-level = 1
package.image = { opt-level = 3 }
package.nalgebra = { opt-level = 2 }